{% for player in site.roster %}
    <ul class="player-list">
        <li class="player-card">
            <h2>{{ player.title}}<br></h2>
            <p>Hometown: {{ player.hometown }}<br></p>
            <p>{{ player.fact }}</p>
        </li>
    </ul>
{% endfor %}